/*Mobile View */
#landing {
  width: 100vw;
  height: 100vh;
}

#landing main {
  margin: 3.2rem auto;
  width: 90%;
  margin-top: 1rem;
}

#landing main strong {
  color: #000000;
  font-size: 2.5rem;
  font-family: Archivo;
}

@media (min-width: 700px) {
  /*Desktop View*/
  #landing {
    max-width: 100%;
  }

  #landing main .block-group-camp {
    display: flex;
    justify-content: center;
  }

  #landing main .block-group-camp .card-item-landing + .card-item-landing {
    margin-top: 0rem;
  }

  #landing main .block-group-circuit {
    /* display: flex; */
    justify-content: center;
  }

  #landing main .block-group-circuit .block-circuit .card-item-landing {
    display: flex;
    align-items: center;
    /* padding: 6rem; */
  }

  #landing main .block-group-circuit .card-item-landing header img {
    height: 50rem;
  }

  #landing main .block-group-circuit .block-sponsors .card-item-landing {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}
