/*Mobile View */
#landing {
  width: 100vw;
  height: 100vh;
}

#landing main {
  margin: 3.2rem auto;
  width: 90%;
  margin-top: 1rem;
}

#landing main strong {
  color: #000000;
  font-size: 2.5rem;
  font-family: Archivo;
}

#landing .block-footer {
  background-color: var(--color-primary-header);
  padding: 1rem;
}

#landing .block-footer strong {
  color: #000000;
  font-size: 1.6rem;
  font-family: Archivo;
}

#landing .block-footer .block-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.4s ease;
}

#landing .block-footer .block-icons img {
  height: 5rem;
  width: 5rem;
}

#landing .block-footer .block-icons .block-icons-sociais {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#landing .block-footer .block-icons .block-icons-sociais button + button {
  margin-left: 1rem;
}

#landing .block-footer .block-icons .block-icons-sociais .facebook {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#landing .block-footer .block-icons .block-icons-sociais .instagram {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#landing .block-footer .block-icons .block-icons-group {
  background-color: #25d366;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

#landing .block-footer .block-icons .block-icons-group:hover {
  background-color: #1dc259;
}

#landing .block-footer .block-icons .block-icons-group strong {
  margin-left: 1rem;
}

@media (min-width: 700px) {
  /*Desktop View*/
  #landing {
    max-width: 100%;
  }

  #landing main .block-group-camp {
    display: flex;
    justify-content: center;
  }

  #landing main .block-group-camp .card-item + .card-item {
    margin-top: 0rem;
  }

  #landing main .block-group-circuit {
    justify-content: center;
  }

  #landing main .block-group-circuit .block-circuit .card-item {
    display: flex;
    align-items: center;
    /* padding: 6rem; */
  }

  #landing main .block-group-circuit .card-item header img {
    height: 50rem;
  }

  #landing main .block-group-circuit .block-sponsors .card-item {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}
