/*Mobile View*/
.card-item-landing {
  background: var(--color-background-card);
  border: 1.5rem solid var(--color-line-in-white-card);
  border-radius: 3rem;
}

.card-item-landing + .card-item-landing {
  margin-top: 1rem;
}

.card-item-landing header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item-landing header img {
  width: 30rem;
  height: 30rem;
  border-radius: 3rem;
}

.card-item-landing footer {
  color: var(--color-button-text);
  font: 700 1.6rem Archivo;
  line-height: 3.6rem;
  text-align: justify;
  padding: 0rem 3.9rem;
  border-radius: 3rem;
  background: transparent;
}
