.card-barcas{
    background: var(--color-background-card);
  border: 1.5rem solid var(--color-line-in-white-card);
  border-radius: 3rem;
  color: black;
}

.img-barcas{
    width: 20rem;
}

.barcas-flex-1{
  margin: 2rem;
}

.barcas-flex-2{
    margin: 2rem;

}

.p-barcas{
    font-weight: 900;
}

.custos{
    margin-top: 2rem;
}



.organization{
    margin-top: 2rem;
}


@media (min-width: 700px) {
    h1{
        width: 1px;
        
    }

    .card-barcas{
        padding: 1em;
        display: flex;
        flex-direction: column;
    }

    .barcas-flex-1{
        display: inline-flex;
        
    }
    
    .barcas-flex-2{
        display: inline-flex;
    }
    
    .p-barcas{
        color: black;
        font-weight: 900;
        display:inline-block;
        margin-top: 1em;
        margin-left: 2em;
    }
    
    .furgaoo{
        display: flex;
    }
    
    .custos{
        padding-left: 5rem;
        display: flex;
    }
    
    .duvid{
        display: flex;
    }
    
    .organization{
        padding-left: 6rem;
        display: flex;
    }
}