.block-footer {
  background-color: var(--color-primary-header);
  padding: 1rem;
}

.block-footer strong {
  color: #000000;
  font-size: 1.6rem;
  font-family: Archivo;
}

.block-footer .block-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.4s ease;
}

.block-footer .block-icons img {
  height: 5rem;
  width: 5rem;
}

.block-footer .block-icons .block-icons-sociais {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.block-footer .block-icons .block-icons-sociais button + button {
  margin-left: 1rem;
}

.block-footer .block-icons .block-icons-sociais .facebook {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s;
}

.block-footer .block-icons .block-icons-sociais .facebook:hover {
  opacity: 0.8;
}

.block-footer .block-icons .block-icons-sociais .instagram {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s;
}

.block-footer .block-icons .block-icons-sociais .instagram:hover {
  opacity: 0.8;
}

.block-footer .block-icons .block-icons-group {
  background-color: #25d366;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.block-footer .block-icons .block-icons-group:hover {
  background-color: #1dc259;
}

.block-footer .block-icons .block-icons-group strong {
  margin-left: 1rem;
}
