:root {
  font-size: 60%;

  /*Usando*/

  /* Global */
  --color-background: #f0f0f7;
  --color-text-base: #6a6180;

  /* Header */
  --color-primary-header: #62aeda;
  --color-secundary-header: #73a4c0d7;

  /* Card */
  --color-background-card: #62aeda;
  --color-line-in-white-card: #f0f0f7;

  /* Header e Car */
  --color-button-text: #000000;

  /* Login */
  --color-background-login: #333333;
  --color-border-input-login: #adadad;
  --color-text-input-login: #999999;
  --color-button-primary-login: #21d4fd;
  --color-button-secundary-login: #176999;
  --color-title-login: #f0ffff;
  --color-text-login: #ffffff;

  /*Ainda não*/
  --color-primary-lighter: #9871f5;
  --color-primary-light: #916bea;
  --color-primary-dark: #774dd6;
  --color-primary-darker: #6842c2;
  --color-bottom-dark: #04bf58;
  --color-text-title: #32264d;
  --color-text-complement: #9c98a6;
  --color-input-background: #f8f8fc;
  --color-box-footer: #fafafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
